<!DOCTYPE html>
<html>

<head>
	<title>Menu App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<link href="/stylesheets/style.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap&subset=latin-ext"
		rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
	<section id="admin">
		<div class="row">
			<div class="login-area">
				<form action="/register" method="POST" class="validated-form" oninput='password2.setCustomValidity(password2.value != password.value ? "Passwords do not match." : "")'>
					<div class="mb-3">
						<label class="form-label" for="email">Kullanıcı Adı</label>
						<input class="form-control" type="text" name="username" required>
						<div class="valid-feedback">
							Looks good!
						</div>
					</div>
					<button class="btn btn-success btn-block">Şifremi Sıfırla</button>
				</form>
			</div>
			<div class="logo-area d-flex justify-content-center align-items-center flex-fill">
				<img src="/images/logo.png" alt="">
			</div>
		</div>
	</section>
</body>

</html>