<%- include("partials/header") %>

    <h2>İstatistikler</h2>

    <div class="row mt-4">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum recusandae aliquid maiores expedita
                libero maxime accusantium enim cupiditate dolor repellat, itaque possimus ducimus rem vitae, doloremque
                officia perferendis consequuntur impedit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum recusandae aliquid maiores expedita
                libero maxime accusantium enim cupiditate dolor repellat, itaque possimus ducimus rem vitae, doloremque
                officia perferendis consequuntur impedit!</p>

        </div>
        <div class="col-lg-9 col-md-12 col-sm-12">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div class="line"></div>


    <h2>Hızlı İşlemler</h2>
    <div class="row mt-4 dashboard-quick-menu">
        <div class="col-lg-3">
            <div class="card text-white bg-dark mb-3 shadow-lg">
                <div class="card-header">Araçlar</div>
                <div class="card-body">
                    <h5 class="card-title">Araçlar Menüsü</h5>
                    <p class="card-text">Araçları listeyebilir, yeni bir araç ekleyebilir veya olan araçları güncelleme
                        ve silme işlemlerinizi hemen gerçekleştirebilirsiniz.</p>
                    <a href="/car" class="btn btn-outline-light d-block ml-auto">Sayfaya Git</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card text-white bg-dark mb-3 shadow-lg">
                <div class="card-header">Markalar</div>
                <div class="card-body">
                    <h5 class="card-title">Markalar Menüsü</h5>
                    <p class="card-text">Markalari listeyebilir, yeni bir marka ekleyebilir veya olan markaları
                        güncelleme
                        ve silme işlemlerinizi hemen gerçekleştirebilirsiniz.</p>
                    <a href="/make" class="btn btn-outline-light d-block ml-auto">Sayfaya Git</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card text-white bg-dark mb-3 shadow-lg">
                <div class="card-header">Modeller</div>
                <div class="card-body">
                    <h5 class="card-title">Modeller Menüsü</h5>
                    <p class="card-text">Modelleri listeyebilir, yeni bir model ekleyebilir veya olan modelleri
                        güncelleme
                        ve silme işlemlerinizi hemen gerçekleştirebilirsiniz.</p>
                    <a href="/model" class="btn btn-outline-light d-block ml-auto">Sayfaya Git</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card text-white bg-dark mb-3 shadow-lg">
                <div class="card-header">Seriler</div>
                <div class="card-body">
                    <h5 class="card-title">Seriler Menüsü</h5>
                    <p class="card-text">Serileri listeyebilir, yeni bir seri ekleyebilir veya olan serileri güncelleme
                        ve silme işlemlerinizi hemen gerçekleştirebilirsiniz.</p>
                    <a href="/serie" class="btn btn-outline-light d-block ml-auto">Sayfaya Git</a>
                </div>
            </div>
        </div>
    </div>

    <div class="line"></div>

    <h2>Teklif Bekleyenler</h2>

    <div class="row">
        <div class="card border-light m-2 p-0" style="width: min-content; min-width: 300px;">
            <div class="card-header">Ozan D.</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap;">Rolls-Royce/Cullinan/6.7</h5>
                <p class="card-text">Temiz bir araç arıyorum, teklifinizi bekliyorum.</p>
            </div>
        </div>

        <div class="card border-light m-2 p-0" style="width: min-content; min-width: 300px;">
            <div class="card-header">Ozan D.</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap;">Porche/GT2RS/WEISSACH</h5>
                <p class="card-text">Temiz bir araç arıyorum, teklifinizi bekliyorum.</p>
            </div>
        </div>

        <div class="card border-light m-2 p-0" style="width: min-content; min-width: 300px;">
            <div class="card-header">Ozan D.</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap;">Mercedes/AMG/GT</h5>
                <p class="card-text">Temiz bir araç arıyorum, teklifinizi bekliyorum.</p>
            </div>
        </div>

        <div class="card border-light m-2 p-0" style="width: min-content; min-width: 300px;">
            <div class="card-header">Ozan D.</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap;">Lamborghini/Urus/4.0</h5>
                <p class="card-text">Temiz bir araç arıyorum, teklifinizi bekliyorum.</p>
            </div>
        </div>

        <div class="card border-light m-2 p-0" style="width: min-content; min-width: 300px;">
            <div class="card-header">Ozan D.</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap;">Lamborghini/Urus/4.0</h5>
                <p class="card-text">Temiz bir araç arıyorum, teklifinizi bekliyorum.</p>
            </div>
        </div>

        <div class="card border-light m-2 p-0" style="width: min-content; min-width: 300px;">
            <div class="card-header">Ozan D.</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap;">Mercedes/AMG/GT</h5>
                <p class="card-text">Temiz bir araç arıyorum, teklifinizi bekliyorum.</p>
            </div>
        </div>
        <div class="card border-light m-2 p-0" style="width: min-content; min-width: 300px;">
            <div class="card-header">Ozan D.</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap;">Rolls-Royce/Cullinan/6.7</h5>
                <p class="card-text">Temiz bir araç arıyorum, teklifinizi bekliyorum.</p>
            </div>
        </div>

        <div class="card border-light m-2 p-0" style="width: min-content; min-width: 300px;">
            <div class="card-header">Ozan D.</div>
            <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap;">Porche/GT2RS/WEISSACH</h5>
                <p class="card-text">Temiz bir araç arıyorum, teklifinizi bekliyorum.</p>
            </div>
        </div>

    </div>

    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%- include("partials/footer") %>
        <script>
            const labels = [
                'Ocak',
                'Şubat',
                'Mart',
                'Nisan',
                'Mayıs',
                'Haziran',
                'Temmuz',
                'Ağustos',
                'Eylül',
                'Ekim',
                'Kasım',
                'Aralık'
            ];

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Görüntülenme Sayısı',
                    backgroundColor: 'rgb(211 172 89)',
                    borderColor: 'rgb(211 172 89)',
                    data: [0, 10, 5, 2, 20, 30, 45, 55, 60, 40, 120, 90, 150],
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Aylara Göre Görüntülenme Sayısı İstatistikleri'
                        }
                    }
                }
            };

            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        </script>