<%- include("../partials/header") %>



    <div class="" style="margin-bottom: 150px;">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>Marka Oluştur</h2>
                    <small>
                        <strong>
                            Cars of Ferro
                        </strong>
                    </small>
                    <p>
                        Bu menüden marka oluşturabilirsiniz.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="/" class="btn btn-outline-success mb-4"><i class="fas fa-chevron-left"></i>
                    Ana Menü
                </a>
            </div>
        </div>


        <div class="row">
            <form class="m-auto needs-validation" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    <label>Marka Adı *</label>
                    <input class="form-control" required type="text" name="food[name]" />
                </div>

                <div class="form-group">
                    <label>Marka Logosu</label>
                    <input class="form-control" type="file" name="image" />
                </div>

                <input type="submit" class="btn btn-primary" value="Ürün Ekle" />
            </form>
        </div>

    </div>



    <%- include("../partials/footer") %>
        <script>
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            })()
        </script>